		.branco {
			color: white;
		}

		.preto {
			color: black;
		}

		.Borda {
			border: 5px solid #54260d;
			padding: 3px;
		}

		.Bordalink{
			border: 5px  groove #54260d;
		}

		.borda-texto {
			display: inline-block;
			border: 4px solid white;
			padding: 20px;
			margin: 10px;
			border-radius: 10px;
			background: black;
			text-decoration: none;
		}

		.centralizar {
			text-align: center;
			background-position: center;
			justify-content: center;
			margin: auto;
			align-items: center;
			align-self: center;
			align-content: center;
			vertical-align: middle;
		}

		.listas {
			display: flex;
			justify-content: space-around;
			gap: 20px;
		}




		.esquerda {
			text-align: left;
			background-position: left;
		}

		.t10px {
			font-size: 10px;
		}

		.t20px {
			font-size: 20px;
		}
		.t30px {
			font-size: 30px;
		}

		.t32px {
			font-size: 32px;
		}

		.t40px {
			font-size: 40px;
		}

		.t50px {
			font-size: 50px;
		}

		.direita {
			text-align: right;
			right: 1px;
		}

		.relative {
			position: relative;
			top: 0px;
			bottom: 0px;
			left: 430px;
			right: 0px;
		}

		.direita {
			text-align: right;
		}

		.backgroundblack {
			background: black;
		}

		.hover {
			a:hover {
				background-position: right bottom;
			}

			a:hover {
				color: red;
				background: black;
			}

			a:active {
				color: #b55c2c;
			}
		}

		.menu {
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			li {
				display: inline-block;
				padding: 5px 20px;
			}

			ul a {
				width: 195spx;
				height: 40px;
				display: block;
				color: black;
				text-decoration: none;
				text-indent: 40px;
				text-align: center;
				line-height: 35px;
				border: 3px solid black;
				background-image: url(imagens/menu.png);
				top: 1000px;
			}
		}
			.menu1:hover {
				background-position: right -75px bottom;
			}

			.menu2:hover {
				background-position: right -75px bottom;
			}

			.menu3:hover {
				background-position: right 383px bottom;
			}
				

		fieldset {
			padding: 1em;
			border: 2px solid saddlebrown;
		}

		legend {
			font-weight: bolder;
		}

		label {
			display: block;
			cursor: pointer;
		}

		textarea {
			width: 200px;
			height: 100px;
		}

		input.radio,
		input.chechbox,
		input.submit {
			width: auto;
		}

		#ct {
			width: 400px;
			height: 300px;
			background-color: rgba(255, 255, 255, 0.3);
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			margin: 0;
			margin-top: 120px;
		}

		#ct img {
			width: 120px;
			height: 120px;
			margin-top: -60px;
			margin-bottom: 30px;
		}

		.img {
			image-rendering: 100px;
		}

		a {
			color: white;
		}

		h2 {
			color: white;
		}

		a:hover {
			color: red;
		}

		a:active {
			color: #b55c2c;
		}

		a {
			text-decoration: none;
		}

		.wow {
			width: 150px;
			text-align: center;
		}

		input.this {
			height: 40px;
			width: 80%;
			font-size: 16px;
			margin-bottom: 10px;
			background-color: white;
			padding-left: 40px;
			border: none;
			background-repeat: no-repeat;
			background-position: 10px;
		}



		input.nome {
			background-image: url(imagens/icone-usuario.png);
		}

		input.email {
			background-image: url(imagens/email.png);
		}

		input.senha {
			background-image: url(imagens/senha.png);
		}

		input.comentario {
			background-image: url(imagens/comentario.png);
		}

		input.calendario{
			background-image: url(imagens/calendario.jpg);
		}

		input.submit {
			color: white;
			background-color: #54260d;
			border: 2px solid white;
		}

		.BIGSHOT {
			font-size: 30px;
			margin: 5px
		}

		.caixa1,
		.caixa2,
		.caixa3,
		.caixa4 {
			height: 100%;
			opacity: 1;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}

		.caixa1 {
			background-image: url(imagens/imagem.png);
		}

		.caixa2 {
			background-image: url(imagens/imagem2.png);
		}

		.caixa3 {
			background-image: url(imagens/imagem3.png);
		}

		.caixa4 {
			background-image: url(imagens/imagem4.png);
		}

		.conteudo {
			text-align: justify;
			padding: 50px 80px;
			background: #54260d;
		}

		.fatal_error {
			position: relative;
			top: 0px;
			bottom: 1000px;
			left: 75px;
			right: 0px;
			text-align: right;
			color: #54260d;
			text-decoration: none;

			a {
				color: #54260d;
				cursor: help;
			}
		}

		.fatal_error:hover{
			cursor: wait;


			a{
			color: darkred;
			text-decoration: none;				
			}
		}

		.fatal_error:active{
			color: darkred;

			a{
				color: darkred;
			}
		}

		.overflow {
			overflow-x: hidden;
		}

		.radius {
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
		}

		#sombraB {
			text-shadow: 15px 15px white;
			color: black;
		}

		#sombraP {
			text-shadow: 20px 20px black;
			color: white;
		}

		.line {
			display: inline-block;
		}

		#transicaolink:hover {
			transition: all 1.5s;
			font-size: 40px;
			background: white;
			color: black;
			text-decoration: none;
		}

		.nodots{
			text-decoration: none;
		}

		#pizzabois{
			height: 200px;
			display: flex;
			justify-content: center;
		}

		.bois{
			border: 3px solid white;
			background-color: #54260d;
			background-size: 100px;
		}
		
footer{
	text-align: center;
}

#box{
height: 20px;
display: inline;
justify-content: left;
border: 3px solid white;
color: white;
background-color: black;
padding: 3px;
}

		@font-face {
			font-family: "Index";
			src: url("fontes/Index.woff");
		}

		@font-face {
			font-family: "PzzTwr";
			src: url("fontes/PzzTwr.woff");
		}

				@font-face {
			font-family: "contatos";
			src: url("fontes/contatos.woff");
		}

				@font-face {
			font-family: "Lucas";
			src: url("fontes/Lucas.woff");
		}

.estrela_frente, .estrela_fundo, .estrela1, .estrela2, .estrela3{
    display: inline-block;
    vertical-align: top;
	align-items: baseline;
}
.estrela3{
    width: 350px;
    height: 350px;
    background-image: url('imagens/estrela_basica_marrom.png');
    background-size: contain;
	background-repeat: no-repeat;
    transition: background-image 1s ease-in;
	cursor: none;
}

.estrela3:hover{
	background-image: url('imagens/taunt.gif');
}

  .estrela2 {
    width: 350px;
    height: 350px;
    background-image: url('imagens/estrela_basica.png');
    background-size: contain;
	background-repeat: no-repeat;
    transition: background-image 1s ease-in;
	cursor: none;
  }

  .estrela2:hover {
    background-image: url('imagens/estrela.gif');
  }

.estrela1{
    width: 350px;
    height: 350px;
    background-image: url('imagens/estrela_basica_marrom.png');
    background-size: contain;
	background-repeat: no-repeat;
    transition: background-image 30s ease-in;
}

.estrela1:hover{
	background-image: url(imagens/Foto.jpeg);
}

.textnoselect{
	user-select: none;
}

.foto{
	width: 600px;
	height: 700px;
	background-image: url(imagens/Foto.jpeg);
	background-size: cover;
	background-position: center;
	position: relative;
	}

.Pizza_Link:hover{
	text-decoration: none;
	color: yellow;
}

.Pizza_Link:active {
	color: darkorange;
}

.AUTISMO:hover{
	color: #ed9404;
	background-color: #EBB866;
	width: 25px;
	height: 8px;
	transition: all 1.5s;
	font-size: 30px;
}

.instagram{
	color: orange;
	text-decoration: none;
	cursor: pointer;
}

.instagram:hover{
	color: darkgoldenrod;
	text-decoration: none;
}

        .texto-copiavel {
            cursor: pointer;
			color: white;
			background-color: black;
			border: 3px solid white;
            width: fit-content;
            user-select: none;
        }
        .texto-copiavel:hover {
            background-color: white;
			color: black;
			border: 3px solid black;
        }
        #mensagem-confirmacao {
			color: white;
			background: green;
			border: 3px solid white;
			width: fit-content;
		    display: none;}

			.Pizza_Web{
				text-decoration: none;
				text-align: center;
				color: yellow;
				bottom: -888px;
				right: 325px;
				font-size: 250px;
				position: absolute;
				opacity: 0;
			}

			.Pizza_Web:hover{
				text-decoration: none;
				color: orange;
				cursor: crosshair;
			}

			.Pizza_Game_Link{
				text-decoration: none;
				color: white;
			}

			.Pizza_Game_Link:hover{
				text-decoration: none;
				color: gray;
			}

			.depression{
				bottom: 300px;
			}

			.Pizza_text{
				background-color: white;
				border: 3px solid black;
				color: darkgoldenrod	;
			}

			.🕈︎✋︎🏱︎{
				font-size: 10px;
			}

			.Versão_do_Site {
            position: fixed;
            bottom: 10px;
            right: 10px;
            color: black;
            font-size: 25px;
            background-color: white;
            padding: 5px 10px;
            border: 5px groove #54260d;
            z-index: 1000;}

			.justity{
				padding-left: 1000px;
			}

			.conteudo2 article {
   			 display: inline-block;
    		margin: 0 auto;
    		padding: 20px;
    		min-width: 300px;}

			.conteudo2 {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
			}

			#transicao3 {
				text-align: center;
				width: auto;
				margin-bottom: 20px;
			}

			.caixa-centralizada {
				background-color: black;
				border: 3px solid white;
				border-radius: 10px;
				padding: 20px;
				width: fit-content;
				min-width: 250px;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
			}

			.text-gray{
				color: #6f6f6f;
			}

			.text-bicolor {
    background-image: linear-gradient(to right, black 46%, white 54%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}